<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.ArticleCommentsMapper">
    <select id="select" parameterType="int" resultType="CommentResponseDto">
        SELECT *
        FROM article_comments
        WHERE article_comments_id = #{article_comments_id}
    </select>
    <select id="selectAll" resultType="CommentResponseDto">
        SELECT *
        FROM article_comments
        ORDER BY created_at DESC
    </select>
    <select id="selectAllReplyList" resultType="CommentResponseDto">
        SELECT *
        FROM article_comments
        WHERE parent_comment_id = #{parent_comment_id}
        ORDER BY created_at ASC
    </select>
    <select id="selectAllCommentByArticleId" resultType="CommentResponseDto">
        SELECT *
        FROM article_comments
        WHERE article_id = #{article_id}
        ORDER BY created_at DESC
    </select>
    <insert id="insert" parameterType="CommentCreateRequestDto">
        INSERT INTO article_comments (article_id, content, created_at, created_by, updated_at,
                                      updated_by, parent_comment_id)
        VALUES (#{article_id}, #{content}, now(), 'test@naver.com', null, null, #{parent_comment_id})
    </insert>
    <update id="update" parameterType="CommentUpdateRequestDto">
        UPDATE article_comments
        SET content    = #{content},
            updated_at = now(),
            updated_by = 'test@naver.com'
        WHERE article_comments_id = #{article_comments_id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE
        FROM article_comments
        WHERE article_comments_id = #{article_comments_id}
    </delete>
</mapper>