<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.ArticleCommentsLikeMapper">
    <select id="selectAll" resultType="ArticleCommentsLikeDto">
        SELECT *
        FROM article_comments_like
    </select>
    <select id="select" resultType="ArticleCommentsLikeDto">
        SELECT *
        FROM article_comments_like
        WHERE article_comments_like_id = #{article_comments_like_id}
    </select>
    <insert id="insert" parameterType="ArticleCommentsLikeDto">
        INSERT INTO article_comments_like
            (article_comments_like_id, comment_id, created_at, created_by)
        VALUES (#{article_comments_like_id}, #{comment_id}, now(), #{created_by})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE
        FROM article_comments_like
        WHERE article_comments_like_id = #{article_comments_like_id}
    </delete>
</mapper>