<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.ArticleCommentsMapper">
    <select id="selectAll" resultType="ArticleCommentsDto">
        SELECT *
        FROM article_comments
    </select>
    <select id="select" parameterType="int" resultType="ArticleCommentsDto">
        SELECT *
        FROM article_comments
        WHERE article_comments_id = #{article_comments_id}
    </select>
    <insert id="insert" parameterType="ArticleCommentsDto">
        INSERT INTO article_comments (article_comments_id, article_id, content, created_at, created_by, updated_at,
                                      updated_by)
        VALUES (#{article_comments_id}, #{article_id}, #{content}, now(), #{created_by}, null, null)
    </insert>
    <update id="update" parameterType="ArticleCommentsDto">
        UPDATE article_comments
        SET content    = #{content},
            updated_at = now(),
            updated_by = #{updated_by}
        WHERE article_comments_id = #{article_comments_id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE
        FROM article_comments
        WHERE article_comments_id = #{article_comments_id}
    </delete>
</mapper>