<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.BoardLikeMapper">
    <select id="selectAll" resultType="BoardLikeResponseDto">
        SELECT *
        FROM article_like
    </select>
<!--    <select id="select" parameterType="int" resultType="ArticleLikeDto">-->
<!--        SELECT *-->
<!--        FROM article_like-->
<!--        WHERE article_like_id = #{article_like_id}-->
<!--    </select>-->
    <resultMap id="BoardLikeResponseDtoMap" type="BoardLikeResponseDto">
        <id property="board_like_id" column="board_like_id"/>
        <result property="created_by" column="created_by"/>
        <result property="created_at" column="created_at"/>
        <association property="board" javaType="BoardLikeBoardInfo">
            <id property="board_id" column="board_id"/>
            <result property="title" column="title"/>
            <result property="created_by" column="created_by"/>
            <result property="created_at" column="created_at"/>
        </association>
    </resultMap>
    <select id="selectMyBoardLikeList" parameterType="UserEntity" resultMap="BoardLikeResponseDtoMap">
        SELECT bl.board_like_id,
               bl.created_by,
               bl.created_at,
               b.board_id,
               b.title,
               b.created_at,
               b.created_by
        FROM board_like bl
                 JOIN board b
                      ON bl.board_id = b.board_id
        WHERE bl.created_by = #{email}
        ORDER BY bl.created_at DESC
    </select>
    <select id="findByBoardLikeId" parameterType="int" resultType="BoardLikeResponseDto">
        SELECT *
        FROM board_like
        WHERE board_id = #{board_id}
    </select>
    <delete id="delete" parameterType="BoardToggleLikeRequestDto">
        DELETE
        FROM board_like
        WHERE created_by = #{created_by}
    </delete>
    <insert id="insert" parameterType="BoardToggleLikeRequestDto">
        INSERT INTO board_like
            (board_id, created_at, created_by)
        VALUES (#{board_id}, now(), #{created_by})
    </insert>
</mapper>