<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.pjt.back.mapper.BoardMapper">

    <select id="selectAll" resultType="BoardResponseDto">
        SELECT *
        FROM board
        ORDER BY board_id DESC
    </select>
    <resultMap id="BoardDetailMap" type="BoardDetailResponseDto">
        <id property="board_id" column="board_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="rating" column="rating"/>
        <result property="main_image_path" column="main_image_path"/>
        <result property="created_by" column="created_by"/>
        <result property="created_at" column="created_at"/>
        <association property="category" javaType="CategorySelectResponseDto">
            <id property="category_id" column="category_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="select" parameterType="int" resultMap="BoardDetailMap">
        SELECT b.board_id,
               b.title,
               b.content,
               b.rating,
               b.main_image_path,
               b.created_by,
               b.created_at,
               c.name
        FROM board b
                 JOIN category c
                      ON b.category_id = c.category_id
        WHERE b.board_id = #{board_id}
    </select>
    <select id="getPrevBoard" resultType="BoardDetailResponseDto">
        SELECT *
        FROM board
        WHERE board_id &lt; #{board_id}
        ORDER BY board_id DESC LIMIT 1
    </select>
    <select id="getNextBoard" resultType="BoardDetailResponseDto">
        SELECT *
        FROM board
        WHERE board_id &gt; #{board_id}
        ORDER BY board_id ASC LIMIT 1
    </select>
    <select id="selectMyBoardList" parameterType="UserEntity" resultType="BoardResponseDto">
        SELECT *
        FROM board
        WHERE created_by = #{email}
        ORDER BY created_at DESC
    </select>
    <insert id="insert" parameterType="BoardCreateRequestDto">
        INSERT INTO board
        (title, content, rating, main_image_path, category_id, created_at, created_by, updated_at, updated_by)
        VALUES (#{title}, #{content}, #{rating}, #{main_image_path}, #{category_id}, now(), 'test2@daum.net', null,
                null)
    </insert>
    <insert id="delete" parameterType="int">
        DELETE
        FROM board
        WHERE board_id = #{board_id}
    </insert>
    <update id="update" parameterType="BoardUpdateRequestDto">
        UPDATE board
        SET title       = #{title},
            content     = #{content},
            category_id = #{category_id},
            updated_at  = now(),
            updated_by  = 'test2@daum.net'
        WHERE board_id = #{board_id}
    </update>

</mapper>
