<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.pjt.back.mapper.CategoryMapper">
    <select id="selectAll" resultType="CategoryDto">
        SELECT *
        FROM category
    </select>
    <select id="select" parameterType="int" resultType="CategoryDto">
        SELECT *
        FROM category
        WHERE category_id = #{category_id}
    </select>
    <update id="update" parameterType="CategoryDto">
        UPDATE category
        SET name       = #{name},
            updated_at = now(),
            updated_by = 'test@naver.com'
        WHERE category_id = #{category_id}
    </update>
    <insert id="insert" parameterType="CategoryDto">
        INSERT INTO category
            (category_id, name, created_at, created_by, updated_at, updated_by)
        VALUES (#{category_id}, #{name}, now(), 'test@naver.com', #{updated_at}, #{updated_by})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE
        FROM category
        WHERE category_id = #{category_id}
    </delete>
</mapper>
