<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.pjt.back.mapper.CategoryMapper">
    <select id="selectAll" resultType="CategorySelectResponseDto">
        SELECT *
        FROM category
    </select>
    <select id="select" parameterType="CategorySelectRequestDto" resultType="CategorySelectResponseDto">
        SELECT *
        FROM category
        WHERE category_id = #{category_id}
    </select>
    <insert id="insert" parameterType="CategoryEntity">
        INSERT INTO category
            (name, created_at, created_by)
        VALUES (#{name}, now(), #{created_by})
    </insert>
    <delete id="delete" parameterType="CategoryDeleteRequestDto">
        DELETE
        FROM category
        WHERE category_id = #{category_id}
    </delete>
    <update id="update" parameterType="CategoryUpdateRequestDto">
        UPDATE category
        SET name       = #{name},
            updated_at = now(),
            updated_by = #{updated_by}
        WHERE category_id = #{category_id}
    </update>
</mapper>
