<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.CommentLikeMapper">
    <select id="findByCommentId" parameterType="CommentLikeListRequestDto" resultType="CommentLikeResponseDto">
        SELECT *
        FROM comment_like
        WHERE comment_id = #{comment_id}
    </select>
    <insert id="insert" parameterType="CommentLikeToggleRequestDto">
        INSERT INTO comment_like
            (comment_id, created_at, created_by)
        VALUES (#{comment_id}, now(), #{created_by})
    </insert>
    <delete id="delete" parameterType="CommentLikeToggleRequestDto">
        DELETE
        FROM comment_like
        WHERE created_by = #{created_by}
    </delete>
    <resultMap id="CommentLikeResponseDtoMap" type="CommentLikeResponseDto">
        <id property="comment_like_id" column="comment_like_id"/>
        <result property="created_by" column="created_by"/>
        <association property="board" javaType="Board">
            <id property="board_id" column="board_id"/>
            <result property="title" column="title"/>
            <result property="created_at" column="created_at"/>
            <result property="created_by" column="created_by"/>
        </association>
        <association property="comment" javaType="Comment">
            <id property="comment_id" column="comment_id"/>
            <result property="parent_comment_id" column="parent_comment_id"/>
            <result property="created_at" column="created_at"/>
            <result property="created_by" column="created_by"/>
        </association>
    </resultMap>
    <select id="myCommentLikeList" parameterType="UserEntity" resultMap="CommentLikeResponseDtoMap">
        SELECT cl.comment_like_id,
               cl.created_by,
               b.board_id,
               b.title,
               b.created_at,
               b.created_by,
               c.comment_id,
               c.parent_comment_id,
               c.created_at,
               c.created_by
        FROM comment_like cl
        JOIN comment c ON cl.comment_id = c.comment_id
        JOIN board b ON c.board_id = b.board_id
        WHERE cl.created_by = #{email}
        ORDER BY cl.created_at DESC
    </select>
</mapper>