<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.ProfileImageMapper">
    <insert id="createProfileImage" parameterType="ProfileImageCreateRequestDto">
        INSERT INTO profile_image
            (email, file_name, file_path, file_extension, upload_at)
        VALUES
            (#{email}, #{file_name}, #{file_path}, #{file_extension}, now())
    </insert>
    <select id="getProfileImage" parameterType="String" resultType="ProfileImageGetResponseDto">
        SELECT *
        FROM profile_image
        WHERE email = #{email}
    </select>
    <update id="updateProfileImage" parameterType="ProfileImageUpdateRequestDto">
        UPDATE profile_image
        SET file_name = #{file_name},
            file_extension = #{file_extension},
            file_path = #{file_path},
            upload_at = now()
        WHERE email = #{email}
    </update>
    <delete id="deleteProfileImage" parameterType="String">
        DELETE FROM profile_image
        WHERE email = #{email}
    </delete>
    <select id="getProfileImagePathByEmail" parameterType="String" resultType="String">
        SELECT *
        FROM profile_image
        WHERE email = #{email}
    </select>
</mapper>