<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.pjt.back.mapper.ProjectParticipantMapper">
    <insert id="insert" parameterType="ProjectParticipantCreateRequestDto">
        INSERT INTO project_participant (board_id, participant, created_at)
        VALUES
        <foreach collection="participant_list" item="item" separator=",">
            (#{board_id}, #{item.participant}, now())
        </foreach>
    </insert>
    <select id="getProjectParticipantByBoardId" parameterType="ProjectParticipantGetByBoardIdRequestDto" resultType="ProjectParticipantGetListByBoardIdResponseDto">
        SELECT * from
            project_participant
        WHERE board_id = #{board_id}
    </select>
    <resultMap id="ProjectParticipantResultMap" type="ProjectParticipantGetMyProjectResponseDto">
        <!-- 단순 필드 매핑 -->
        <result property="title" column="title" />
        <result property="content" column="content" />

        <!-- 컬렉션 매핑 -->
        <collection property="stackInfoList" ofType="ProjectStackInfo">
            <result property="name" column="name" />
        </collection>
    </resultMap>
    <select id="getProjectParticipantMyProject" parameterType="String" resultMap="ProjectParticipantResultMap">
        SELECT
            b.title,
            b.content,
            ps.name
        FROM
            project_participant pp
                JOIN
                    board b
                    ON b.board_id = pp.board_id
                JOIN
                    project_stack ps
                    ON ps.board_id = pp.board_id
        WHERE
            pp.participant = #{userEmail}
    </select>
    <delete id="deleteProjectParticipantByBoardId" parameterType="ProjectParticipantDeleteByBoardIdDto">
        DELETE FROM project_participant
        WHERE board_id = #{board_id}
    </delete>
</mapper>