{
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@wapl/(.*)$",
    "^@apis/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@routers/(.*)$",
    "^@stores/(.*)$",
    "^@themes/(.*)$",
    "^@typings/(.*)$",
    "^@utils/(.*)$",
    "^@wapls/(.*)$",
    "@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
